
<div class="bg-contact100" >
  <div class="container-contact100">
    <div class="wrap-contact100" style="
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 0px;
">

      <form class="contact100-form ">

        <div class="wrap-input100 " >
          <input class="input100" type="text"  placeholder="Name"[formControl]="nameFormControl" required>
        </div>

        <div class="wrap-input100 ">
          <input class="input100"  placeholder="Prenom" [formControl]="prenomFormControl">
        </div>

        <div class="wrap-input100 ">
          <input class="input100"  placeholder="Email">
        </div>

        <div class="wrap-input100">
          <textarea class="input100" [formControl]="messageFormControl" placeholder="Message"></textarea>
          <span class="focus-input100"></span>
        </div>

        <div class="container-contact100-form-btn">
          <button (click)="register()" class="contact100-form-btn" ng-disabled="form.$invalid " type="submit" >
            Send
          </button>
        </div>
      </form>



      <div class="contact100-pic js-tilt" >
        <div class="wrap-input100 " data-validate = "Name is required">
          <span class="focus-input100"></span>
          <span class="symbol-input100">

          </span>
        </div>
        <h1 style="text-align: left;">contact us</h1><br>
        <h3 style="text-align: left;"> <i class="fa fa-user" aria-hidden="true"></i> 0033685479846</h3><br>
        <h3 style="text-align: left;"> <i class="fa fa-user" aria-hidden="true"></i> chemin des bateliers , rue 64 </h3><br>
        <h3 style="text-align: left;">  <i class="fa fa-user" aria-hidden="true"></i> Pnv@digital.fr</h3><br>
        <img src="assets/images/img-01.png" alt="IMG">
      </div>


    </div>
  </div>
</div>


